body{

margin:0;
font-family:Arial, Helvetica, sans-serif;

background:#f1f5f9;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.todo-app{

background:white;

padding:30px;

width:380px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,0.2);

}

h1{

text-align:center;

color:#1e293b;

}

.input-area{

display:flex;

gap:10px;

margin-top:20px;

}

input{

flex:1;

padding:10px;

border-radius:6px;

border:1px solid #ccc;

}

button{

background:#4f46e5;

color:white;

border:none;

padding:10px 15px;

border-radius:6px;

cursor:pointer;

}

button:hover{

background:#4338ca;

}

ul{

list-style:none;

padding:0;

margin-top:20px;

}

li{

background:#f1f5f9;

padding:12px;

margin-bottom:10px;

border-radius:8px;

display:flex;

justify-content:space-between;

align-items:center;

}

.completed{

text-decoration:line-through;

opacity:0.6;

}

.task-buttons button{

background:#e11d48;

font-size:12px;

padding:6px;

margin-left:5px;

}

.task-buttons button:first-child{

background:#f59e0b;

}